@media screen and (max-width: 800px) {
	body {
		background-color: lightgrey;
		}
}

@media screen and (max-width: 400px) {
	body {
		background-color: teal;
		}
}


body {
	background-color: pinklightgrey;
}

h1 {
	color: skyblue;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	font-family: monoface;
	line-height: normal;
}

h3 {
	text-decoration: underline;
}

h4 {
	color: skyblue;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	font-family: monoface;
	line-height: normal;
}

p {
	color: skyblue;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: normal;
	font-family: monoface;
	line-height: normal;
}

ul li {
	color: grey;
	font-family: cursive;
	line-height: 5px;
}

img {
	float: left;
	width: 40%;
	height: 40%;
	border: 3px grey solid;
	margin: 5px;
}

.picspg {
	text-align: center;
}


