h1 {
	color: skyblue;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: normal;
	font-family: monoface;
	line-height: normal;
}

h4 {
	color: skyblue;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: normal;
	font-family: monoface;
	line-height: normal;
}

p {
	color: skyblue;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: normal;
	font-family: monoface;
	line-height: normal;
}



